.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-background-color);
}

.container__footer {
  display: flex;
  align-items: baseline;
}

.footer__adress--logo {
  margin-bottom: 20px;
  margin-right: 0;
}

.adress__list {
  margin-right: 70px;
}

.adress__item {
  width: 231px;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__linc {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &--white {
    color: var(--white-color);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

.social-footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-footer__title,
.form-footer__title {
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-footer__linc {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: currentColor;

  width: 44px;
  height: 44px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent);
  }
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.form-footer {
  margin-left: 93px;
}

.form-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
}

.form-footer__input {
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--white-color);

  background-color: var(--hero-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
}

.form-footer__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  padding: 10px;
  border: none;
  border-radius: 4px;
  gap: 10px;

  color: var(--white-color);
  background-color: var(--accent);

  font-family: inherit;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--hero-button-active);
    cursor: pointer;
  }
}

.form-footer__icon {
  color: var(--white-color);
  fill: currentColor;
}
