:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent: #2196f3;
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --white-color: #ffffff;
  --black-color: #000000;
  --hero-button-active: #188ce8;
  --primary-icon-color: #afb1b8;
}
